
<h4><b>Continue to place order</b></h4>

Your Address:
<% current_user.addresses.each do |address| %>
  <% if address.primary %>
    Primary Address: 
  
      <% if address.office %>
         Office:
      <% else %>
         Home: 
      <% end %>  

      <%= address.address_line1%>
      <%= address.address_line2%>
      <%= address.city%>
      <%= address.state%>
      <%= address.country%>
      <%= address.pincode%>
    <br>
 <% end %>
<% end %>

<% @cart_items.each do |cartitem| %>
  <h4>
    <%= cartitem.product.name%> 
  </h4>

  <div><%= image_tag cartitem.product.image , style: "width: 10%; height: 20%;"%></diV>

  <br>
  <%= cartitem.product.description%> 

  <br><div>Price: 
  <%= cartitem.total_price%> 
  </div> 
  
<% end %>

<h4> Balance: 
  <%= @cart_items.sum(:total_price) %>
</h4> 

<h3><%= button_to "Continue"%></h3>

