<h3>My Cart</h3>

<% if @cart_items.exists?%>
  <div>
    <% @cart_items.each do |cartitem| %>
      <div class="card" style="width: 50rem;">
        <div style= "padding: 3%; padding-top: 3%; padding-bottom: 0%">
          <div class="row">
            <div class= "col"><%= image_tag cartitem.product.image , style: "width: 50%; height: 80%;"%></div>
              <div class= "col">
                <h5><%= cartitem.product.name%></h5><hr>
                <%= cartitem.product.description%><br>
                Price: <div class="bi bi-currency-rupee", style="font-size: 20px;"><%=cartitem.total_price%></div> 
                  Added Quantity:
                  <b><%= link_to "+", increment_path(product_id: cartitem.product_id) %></b>
                     <%= cartitem.quantity%> 
                  <b><%= link_to "-", decrement_path(product_id: cartitem.product_id) %></b>
              </div>
          </div> 
        
   
            <p class="row">  
              <%= button_to "Remove Product", cart_item_path(cartitem.product), :method => :delete, data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } ,class:"btn btn-danger", style: "border-radius: 20px"%>
            </p>
        </div>
      </div><br> 
    <% end %>
  </div>

<p><%= button_to "Add More Items", products_path(product: @product) , :method => :get ,class:"btn btn-warning"%></p>
 

<div class="row">
  <div class="col", style="padding-top: 1%;"> Amount: <%= @cart_items.sum(:total_price) %></div> 
    <div class="col"><%= button_to "Buy Now", all_items_path(@cart_items), :method => :get,  class:"btn btn-success"%></div>  
      <div>Total Products: <%= @cart_items.sum(:quantity)%></div>
</div>

<% else %>
  <h1 class="bi bi-emoji-frown-fill"></h1>
  <b style="justify-content: center;">Your Cart is Empty</b>
<% end %>

