<div class="container text-center">
  <div class="row">

    <% @products.each do |product|%>
      <div class="col-3">
        <div class="card shadow-lg bg-body-tertiary rounded">
          <%= link_to product do %>
            <%= image_tag product.image, class: "card-image-top", style: "width: 100%; height: 200px" %>
          <% end %>

          <div class="card-body" style="text-align: left;">
            <h5 style="color: dark-blue"><%= product.name%></h5>
            <div class="container text-center">
              <div class="row">               
                <div class="col", style="padding: 0px;"><%= button_to "Add to cart", cart_items_path(product: product.id), class: "btn btn-warning"%></div>
                <div class="col", style="padding: 0px;"><%= button_to "Buy Now", order_items_path(product: product.id), class: "btn btn-warning"%></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
<br>

<%= link_to "Add Product", new_product_path(@product), class: "btn btn-primary" %>
