<div class="card text-bg-light mb-3" style="max-width: 45rem;">
<h3 class="card-header">My Profile</h3>
  <div class="card-body">
    <h5 class="card-title"><%= @user.firstname %> <%= @user.lastname %><br></h5>
    <div class="card-text">
      <%= @user.phone %><br>
      <%= @user.email %>

      <br>
      Your Address:
      <% @user.addresses.each do |address| %>
        <% if address.primary %>
          Primary Address: 
        <% end %>  
        <% if address.home %>
          Home:
        <% else %>
          Office: 
        <% end %>  

        <%= address.address_line1%>
        <%= address.address_line2%>
        <%= address.content%>
        <%= address.city%>
        <%= address.state%>
        <%= address.country%>
        <%= address.pincode%>
        <%= link_to "Edit", edit_address_path(address) %>
        <br>
      <% end %>
    </div>
<br>
<%= link_to "Add Address", new_address_path(@address)%>
</div>
</div>
